/* Duc Nguyen
February 4th, 2021 */

body {
    margin: 20px;
}

#panels {
    height: 100%;
    width: 100%;
}

#top {
    width: 100%;
    height: 20%;
    float:left;
    font-size: 12pt;
    color: white;
    border: 10pt purple;
    background-color: red;
}

#left_side {
    width: 20%;
    height: 320%;
    float:left;
    font-size: 12pt;
    color: white;
    border: 10pt purple;
    background-color: green;
}

#lower_right{
    width: 80%;
    height: 80%;
    float:left;
    font-size: 12pt;
    color: white;
    border: 10pt purple;
    background-color: blue;
}
